@page
@model ConvenientStoreManagement.Pages.Authentication.LogoutModel
@{
    // The UI won't usually be displayed because OnPostAsync handles the redirect
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Successfully logged out.</p>
</header>
